extends layout

block nav-content
	li.active
		a(href='/')
			i.icon-home.icon-white
			| Home

block content
	center
		h2 No class in session right now.

block js-load
	script(src='javascripts/broadcast.js')