extends layout

block nav-content
	li.active
		a(href='/')
			i.icon-home.icon-white
			| Home

block content
	div(id="fakeFrame",style="height: 200px;overflow: scroll;")
		iframe(id= 'followFrame',src='http://localhost:3000/broadcast',
			style="width:100%;height:1000%;")
	button(onclick="sync()") SYNC

block js-load
	script(src='javascripts/follow.js')

