extends layout

block content
	script(src='javascripts/follow.js')
	center(style="height:100%;")
		iframe(id= 'followFrame',src='http://localhost:3000/broadcast',
			style="width:100%;height:60%;")
	button(onclick="sync()") SYNC