extends layout

block nav-content
	li.active
		a(href='/')
			i.icon-home.icon-white
			| Home

block content
  .row-fluid
    .span8
    	center(style="height:100%;")
    		iframe(id= 'followFrame',src='http://localhost:3000/broadcast')
    			//-style="width:100%;height:60%;")
    	button(onclick="sync()") SYNC
    .span2.pad
      p wutwut



block js-load
	script(src='javascripts/follow.js')
