extends layout

block nav-content
	li.active
		a(href='/')
			i.icon-home.icon-white
			| Home

block content
	div(id="fakeFrame",style="height: 500px;overflow: scroll;")
		iframe(id= 'followFrame',src='http://ojfinal.herokuapp.com/broadcast',
			style="width:100%;height:1000%; overflow: hidden")
	button.btn.btn-primary(onclick="sync()") SYNC
	.pull-right.btn-group
		button.btn.btn-danger.notify#slow Slow down. I'm lost!
		button.btn.notify#perfect This is the perfect pace. SWAG
		button.btn.btn-success.notify#speed Speed up!
	h3 Notes/PiratePad type-ish thing
	#textpad

block js-load
	script(src='javascripts/follow.js')

