extends layout

block nav-content
	li.active
		a(href='/')
			i.icon-home.icon-white
			| Home

block content
	h1 #{title}
	p Following your instructor on the projector has never been easier. 

	center(style='margin: 30px')
		input.input-medium.search-query#roomName(type='text', style='margin-right: 10px')
		button.btn#submit(type='submit') Search

block js-load
	script(src='/javascripts/main.js')
