//- extends layout

block nav-content
    li.active
        a(href='/')
            i.icon-home.icon-white
            | Home

block content
    h1 #{title}
    p Following your instructor on the projector has never been easier. 
